vti_encoding:SR|utf8-nl
vti_author:SR|COUGARS\\earlr
vti_modifiedby:SR|COUGARS\\earlr
vti_timelastmodified:TR|04 Feb 2008 16:06:21 -0000
vti_timecreated:TR|23 Oct 2007 13:55:18 -0000
vti_title:SR|New Page 1
vti_extenderversion:SR|6.0.2.8161
vti_nexttolasttimemodified:TW|04 Feb 2008 16:06:10 -0000
vti_backlinkinfo:VX|web\\ simplyearl.com/horse/v2/index.htm tmp/horse/v2/index-orig.htm
vti_cacheddtm:TX|04 Feb 2008 16:06:21 -0000
vti_filesize:IR|4652
vti_cachedlinkinfo:VX|S|img/body-bg.gif
vti_cachedsvcrellinks:VX|NSUS|tmp/horse/v2/css/img/body-bg.gif
