RewriteEngine on
RewriteRule ^(.*js.*) - [PT,L]
RewriteRule ^(.*css.*) - [PT,L]
RewriteRule ^(.*img.*) - [PT,L]
RewriteRule ^(.*mov.*) - [PT,L]
RewriteRule ^(.*wmv.*) - [PT,L]
RewriteRule ^(.*pdf.*) - [PT,L]
RewriteRule ^(.*flv.*) - [PT,L]
RewriteRule ^(.*swf.*) - [PT,L]
RewriteRule ^(.*zip.*) - [PT,L]
RewriteRule ^(.*gz.*) - [PT,L]
RewriteRule ^(.*life.*) - [PT,L]
RewriteRule ^(.*dummy.*) - [PT,L]
RewriteRule ^(.*nature.*) - [PT,L]
RewriteRule ^(.*birthday.*) - [PT,L]
RewriteRule ^(.*redesign.*) - [PT,L]
RewriteRule ^(.*template.*) - [PT,L]
RewriteRule ^(.*)$ /template.php [L,NC]
